<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="sqlite.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
<div class="nosearch">
<div class="logo-container">
<img class="logo" src="/logo.svg" alt="Cup of Coffee">
<div class="tagline">
<h1>Cup of Coffee</h1>
<p>C Package Manager</p>
</div>
</div>
<div class="menu mainmenu">
<ul>
<li><a href="/">Home</a>
</ul>
</div>
</div>

<div class="content">
{{ content }}
</div>

</body>
</html>
