name: Check TOML schema

on:
  push:
    branches-ignore: ["main"]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check TOML schema
        run: make check_toml
